:root {
    --primary-color: #fff;
    --secondary-color: #F5F5F5;
    --border-color: #E0E0E0;
    --card-color: #E8F3F1;
    --button-color: #252525;
    --selected-item: #F2ECFF;
    --hover-color: #849BA2;
}