section {
    min-height: 100%;
    min-width: 100%;
}
.modal {
    z-index: 999;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    display: none;
    margin: 0;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--secondary-color);
    margin: 10% auto;
    padding: 1.5rem 2rem;
    width: 30%; 
    border-radius: 10px;
  }
  
.modal-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    width: 100%;
}

.modal-group label {
    width: 25%;
}

.modal-group input, .modal-group select {
    box-shadow: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    max-width: 100%;
    width: 70%;
    border-color: none;
 
    border-bottom-style: none;
    border-color: var(--secondary-color) ;
}


.modal-content select {
    width: 75%;
}

.double-group select{
    gap: 1rem;
}

.double-group label {
   width: 90%;
}

.modal-content input:focus, .modal-content select:focus {
   background-color: var(--card-color);
   outline: none;
}

.modal-content input[type="submit"], .icon-circle-xmark {
    margin-left: auto; 
    width: auto;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.modal-content input[type="submit"] {
    margin-top: 2rem;
    height: 2.5rem;
    margin-bottom: 0;
    border-color:none;
}


.modal-content input[type="submit"]:active, .modal-content input[type="submit"]:focus {
    color:black;
}

.icon-circle-xmark:hover {
    color: var(--hover-color);
}

.icon-circle-xmark::before {
    content: '\f057'; 
    font-family: 'Font Awesome 5 Free';
    font-size: 1.2rem; 
}

.visible {
    display: block;
}

.error-message {
    color:red;
    font-size: 0.7rem;
    text-align: center;
    margin: 0;
}