.widget-title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #2F2F2F;
    margin: 0;
}

.widget-item, .widget-item-total-card {
    display: flex;
    padding: 0.8rem;
    font-size: 14px;
 }

 .total-cards {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
 }

 .widget-item-total-card {
    padding: 4rem 6rem;
    background-color: var(--card-color);
    border-radius: 10px;
    box-shadow: 2px 2px 4px var(--hover-color);
 }

.widget-item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.8rem;
    font-size: 14px;
    gap: 0.2rem;
 }

.widget-item-total {
    color: #828282;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
 }