@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('./css/colors.css');

@import url('./css/aside.css');
@import url('./css/widget.css');
@import url('./css/main.css');
@import url('./css/buttons.css');
@import url('./css/modal.css');
@import url('./css/cards.css');

* {
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
}

body{
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    display: flex;
    justify-content: space-between;
    min-height: 100%;
    width: 100%;
}